<header>
    <div class="navImage">
      <i class="fas fa-atom"></i>
      <img src="../assets/images/cricketlogo.png" height="75" width="75"/>
      <p id="navCompName">TrL</p>
    </div>
    <nav>
      <ul>
        <li><a href="http://localhost:3000/home">Home</a></li>
      </ul>
    </nav>
</header>

    <div class="taskPage">
        <h2>{{boardName}}</h2>
            <form action="/newlist/{{boardName}}" method="POST" class="form-inline">
                <div class="form-group" style="width: 40%">
                <input type="text" name="list_name" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Add A New List">
                </div>
                <button class="btn btn-success mb-2" type="submit">Submit</button>
            </form>
    </div>

    <div class="row">
    {{#if data}}
    {{#each data}}
        <div class="container col-2">
	        <h5>{{this.task_type}} <i class="fa fa-pencil" aria-hidden="true"></i></h5>
	        <div>
                <ul>
                    {{#each this.tasks}}
                        <li>
                            <div style="border: solid 2px">
                                <p>{{this.task_title}}</p>
                                <p>{{this.task_priority}}</p>
                                <p>{{this.created_date}}</p>
                                <p>{{this.due_date}}</p>
                                <p>{{this.assigned_to}}</p>
                                <p>{{this.task_description}}</p>
                                    <div style="border: solid 2px">
                                        <form action="/updateTask/{{this.board_name}}/{{this.task_type}}/{{this.task_title}}" method="POST">
                                            <select name="newListName">
                                                {{#each ../../data}}
                                                    <option value="{{this.task_type}}">{{this.task_type}}</option>
                                                {{/each}}
                                            </select>
                                            <button type="submit">Move Task</button>
                                        </form>
                                        <form action="/delete/{{this.board_name}}/{{this.id}}" method="POST">
                                            <button type="submit" style="color:red">DELETE TASK</button>
                                        </form>
                                    </div>
                            </div>
                        </li>
                    {{/each}}
                </ul>
             <!-- task modal -->
                <div>
                    <button class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm2" onclick="createTask('{{this.task_type}}');">Create a Task</button>
                </div>
  	        
            </div>
        </div> 
             

    {{/each}}
	{{/if}}

    </div>
<div class="modal fade bs-example-modal-sm2">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                <p>
                    <form id="modalForm" action="/newTask/{{this.boardName}}" method="POST">
                    <input type="hidden" id="task_type" name="task_type">
                        <div class="form-group">
                            <input type="text" name="task_title" placeholder="Task title" class="form-control">
                            <input type="datetime-local" name="task_dueDate" value="2019-01-01" min="2019-01-01" class="form-control">
                            <input type="text" name="Assignee" placeholder="Assign Task To" class="form-control">
                            <input type="text" name="task_description" placeholder="Task Task_description" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" onclick="saveTask('{{this.task_type}}');">Save Task</button>
                        </div>
                    </form>
                </p>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
    
<script>
    function createTask(task_type){
        console.log("hello world",task_type);
        window.task_type = task_type;
    }

    function saveTask(){
        console.log("hello world",window.task_type);
        document.getElementById("task_type").value = window.task_type;
        document.getElementById("modalForm").submit();
    }
</script>



