     <h3>{{boardName}}</h3>

        <ul>
            {{#each data}}
                <li>
                    <p>{{this.task_type}}</p>
                    {{#each this.tasks}}
                        <div style="border: solid 2px">
                            <P>{{this.task_title}}</P>
                            <P>{{this.task_priority}}</P>
                            <P>{{this.created_date}}</P>
                            <P>{{this.due_date}}</P>
                            <P>{{this.assigned_to}}</P>
                            <P>{{this.task_description}}</P>
                            <div style="border: solid 2px">
                                <form action="/updateTask/{{this.board_name}}/{{this.task_type}}/{{this.task_title}}" method="POST">
                                    <select name="newListName">
                                        {{#each ../../data}}
                                            <option value="{{this.task_type}}">{{this.task_type}}</option>
                                        {{/each}}
                                    </select>
                                    <button type="submit">Move Task</button>
                                </form>
                                <form action="/delete/{{this.board_name}}/{{this.id}}" method="POST">
                                    <button type="submit" style="color:red">DELETE TASK</button>
                                </form>

                            </div>
                        </div>
                    {{/each}}
                    <form action="/newTask/{{this.boardName}}/{{this.task_type}}" method="POST">
                        <div class="form-group">
                        <input type="text" name="task_title" placeholder="Task title" class="form-control">
                        <input type="datetime-local" name="task_dueDate" value="2019-01-01" min="2019-01-01" class="form-control">
                        <input type="text" name="assigned_to" placeholder="Assign Task To" class="form-control">
                        <input type="text" name="task_description" placeholder="Task Task_description" class="form-control">
                        </div>
                        <button type="submit">Add New Task</button>
                    </form>
                </li>
            {{/each}}
        </ul>

        <form action="/newlist/{{boardName}}" method="POST">
            <div class="form-group">
                <input type="text" name="list_name" placeholder="Add new list here" class="form-control">
            </div>
            <button type="submit">Add New List</button>
        </form>
    </div>
