      <header>
    <div class="navImage">
      <i class="fas fa-atom"></i>
      <img src="../assets/images/cricketlogo.png" height="75" width="75"/>
      <p id="navCompName">TrL</p>
    </div>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
      </ul>
    </nav>
  </header>
  
     <h3>{{boardName}}</h3>

        <ul>
            {{#each list}}
              <li>
                  {{this.lists}}
              </li>
            {{/each}}
        </ul>

        <ul>
            {{#each task}}
                <li>
                    <p>{{this.task_title}}</p>
                    <p>{{this.task_priority}}</p>
                    <p>{{this.created_date}}</p>
                    <p>{{this.due_date}}</p>
                    <p>{{this.assigned_to}}</p>
                    <p>{{this.task_description}}</p>
                </li>
            {{/each}}
        </ul>


        <form action="/newlist" method="POST">
            <div class="form-group">
                <input type="text" name="board_name" placeholder="Add new list here" class="form-control">
            </div>
            <button type="submit">Add New List</button>
        </form>
    </div>
